/* Variables */
:root {
  --main-bg-color: grey;
  --main-txt-color: white;
  /* --main-font-family: "Roboto Mono", monospace; */
  --main-font-size: 18px;
  --main-primary: #d8eeeb;
}

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--main-txt-color);
  color: black;
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
}
h1 {
  padding: 18px 0;
}
nav,
footer {
  background-color: #eed8db;
  color: black;
  max-width: 100%;
  height: 90px;
}
footer {
  padding-top: 27px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
ul {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding-inline-start: 0;
  padding-right: 27px;
}
form {
  background-color: var(--main-bg-color);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 0 auto;
  border-radius: 9px;
  padding: 36px 0;
}
label {
  margin: 9px 0;
}
button {
  border: 0;
  line-height: 2.5;
  max-width: 75%;
  width: 50%;
  font-size: var(--main-font-size);
  letter-spacing: 0.1rem;
  text-align: center;
  text-shadow: 1px 1px 1px var(--main-bg-color);
  border-radius: 6px;
  margin-top: 27px;
}
input,
textarea {
  border: 0;
  border-radius: 6px;
}

/* Added from previously made portfolio form */
.nav-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.nav-box:first-child {
  align-self: center;
  flex-grow: 1;
  flex-basis: auto;
  padding-left: 27px;
}
.nav-box:last-child {
  align-self: center;
  flex-grow: 3;
  flex-basis: auto;
}
.box-padding {
  padding: 9px 18px;
}
.btn-menu,
.menu-dash {
  display: none;
}
.container {
  margin: 36px auto;
  text-align: center;
}

/* Media Queries */
@media (max-width: 1550px) {
  select {
    margin-top: 18px;
  }
  .container {
    text-align: center;
  }
  .check-box {
    justify-content: center;
  }
}
@media (min-height: 970px) {
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
@media (max-width: 800px) {
  body {
    position: relative;
  }
  form {
    width: 75%;
  }
  footer {
    position: absolute;
    bottom: -90px;
  }
  .container {
    margin: 5% 0;
    position: relative;
  }
  .nav-menu {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .btn-menu {
    display: block;
    width: 45px;
    height: 47px;
    border: solid 3px black;
    border-radius: 9px;
    margin-right: 27px;
  }
  .btn-menu:hover {
    cursor: pointer;
    box-shadow: 3px 3px 9px var(--main-bg-color);
  }
  .menu-dash {
    display: block;
    height: 3px;
    width: 27px;
    background-color: black;
    margin: 8px auto;
  }
}

@media (max-width: 450px) {
  h3 {
    padding: 0 5%;
  }
  form {
    border: none;
    width: 100%;
  }
  footer {
    width: 100%;
    font-size: medium;
  }
  ul {
    padding-right: 9px;
  }
  .nav-box:first-child {
    padding-left: 9px;
  }
  .btn-menu {
    margin-right: 9px;
  }
}
